{% extends 'base.html' %}
{% block content %}
<a href="{% url 'main:letter_create' %}" class ="btn btn-primary">Создать текст рассылки</a>
<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.let_about }}</h4>
                </div>
                <div class="card-body">
                    <a class="p-2 btn btn-outline-primary" href="{% url 'main:letter_detail' object.pk %}">Подробнее</a>
                    {% if user == letter.user %}
                    <a class="p-2 btn btn-outline-primary" href="{% url 'main:letter_update' object.pk %}">Изменить </a>
                    <a class="p-2 btn btn-outline-primary" href="{% url 'main:letter_delete' object.pk %}">Удалить</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
</div>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>