{% extends 'base.html' %}
{% block content %}

<div class="col-6" xmlns="http://www.w3.org/1999/html">
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            {{ object }}
            <button type="submit" class="btn btn-primary">Удалить</button>
          </form>
          <a class="btn btn-primary" href="{% url 'main:mails_list' %}">Назад</a>
        </div>
    </div>
</div>


{% endblock %}