{% extends 'base.html' %}
{% block content %}
<h4 class="my-0 font-weight-normal">Количество рассылок: {{number_of_mails}}</h4>
<h4 class="my-0 font-weight-normal">Количество активных рассылок: {{active_number_of_mails}}</h4>
<h4 class="my-0 font-weight-normal">Количество клиентов: {{number_of_clients}}</h4>
<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ object.count_views }} </h1>
                    <a class="p-2 btn btn-outline-primary" href="{% url 'blog:blog_detail' object.pk %}">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
</div>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>